@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">CARRENT !</h1>
                    <p class="intro-text">
                        Bienvenue à CARRENT
                        <br>Louer une voiture en ligne
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="glyphicon glyphicon-triangle-bottom animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<p style="text-align:center;"><img src="~/Images/CARPUB.PNG" style="width:1000px; height:450px;" /></p>
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>A propos de CARRENT</h2>
            <p>Profitez de nos services. Votre voiture sera disponible où et quand vous le souhaitez.</p>
        </div>
    </div>


    <!-- Map Section -->
    <div id="map"></div>
</section>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>