@model CARRENT.Models.Categorie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Supprimer</h2>

    <h3>Etes-vous sûr(e) de vouloir supprimer cette catégorie?</h3>
    <div>
        <h4>Catégorie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.taille)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.taille)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-success btn-danger" /> |
            @Html.ActionLink("Retour au menu", "Index", null, new { @class = "btn btn-primary mt-2" })
        </div>
    }
    </div>


