@model CARRENT.Models.Categorie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Détails</title>
</head>
<body>
    <div>
        <h4>Catégorie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.taille)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.taille)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit",null,  new { id = Model.CID, @class = "btn btn-success" }) |
        @Html.ActionLink("Retour à la liste", "Index",null, new { @class = "btn btn-primary mt-2" })
    </p>
</body>
</html>


